*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color:#000;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

.count-down {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;

}
.count-down img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.row{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin-inline: 0!important;
}
.row .subject-container p{
    font-size: 16px;
    font-weight: 500;
}
.row .subject-container:first-child {
    border-top-left-radius: 8px;
}
.row .subject-container:nth-child(3) {
    border-top-right-radius: 8px;
}
.row .subject-container:nth-child(10) {
    border-bottom-left-radius: 8px;
}
.row .subject-container:nth-child(12) {
    border-bottom-right-radius: 8px;
}
.subject-container{
    border: 1px solid #eeeeee;
    background-color: #fff;
    aspect-ratio : 1 / 1;
    padding: 8px;
}
.subject-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.subject-item img{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    
}



/* ĐỀ THI  */
.exam {
    background-color: #fff;
    display: none;
}
.exam header {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navigation-bar {
    padding:20px 15px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
}
.navigation-bar .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

}   
.navigation-bar .navigation img{
    margin-right: 15px;
}
.navigation-bar .semester {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-bar .semester p {
    margin-right: 8px;
}


/* TABPANE  */
.tabpane {
    display: flex;
    width: 100%;
    margin-top: 12px;
}
.tabpane .tabpill {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
    font-size: 16px;
}
.tabpane .tabpill p{
    line-height: 1;
    font-weight: 500;

}
.yeuthich,.tailieu {
    display: none;
}

/* TABCONTENT  */
.tabcontent {
    padding:20px;  
}
.tabcontent .tabcontent-item {
    margin-bottom: 28px;
}
.tabcontent .tabcontent-item p{
    font-weight: 500;
}
.tabcontent-item p:hover{
    color: #62B8B1  ;
}
.tabcontent-item .test-info {
    display: flex;
    align-items: center;
    color: #7A51EF;
    margin-top: 4px;
}
.tabcontent-item .test-info .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.tabcontent-item .test-info .info img{
    width: 16px;
    margin-right: 4px;
}
.tabcontent-item .test-info .info p{
    font-weight: 400;
    font-size: 14px;
}

/* YEU THICH  */
.favorite-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}
.no-data-img {
    width: 200px;
}
.favorite-heading {
    font-weight: 500;
    font-size: 18px;
    color: #75A3Fc;
}
.favorite-text {
    font-size: 16px;
    text-align: center;
    line-height: 1.1;
    color: #757575;
    font-weight: 400;
}


/* TAB TỪNG MÔN HỌC  */
.navigation-heading{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.back-mainpage {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.back-mainpage img{
    width: 20px;
    height: 20px;
}

.subject-name {
    text-transform: capitalize;
    font-weight: 700;
    color: #846AEF;
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 25px;
}


.subject-options {
    gap: 4px;
}
.subject-options .option-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.subject-options .option-item img {
    width: 60px;
}
